In [1]:
import pandas as pd
import numpy as np

## importing Data

In [4]:
amazon = pd.read_csv('amz_com-ecommerce_sample.csv',encoding= 'unicode_escape')

In [6]:
flipkart = pd.read_csv('flipkart_com-ecommerce_sample.csv',encoding= 'unicode_escape')

In [18]:
amazon_df = amazon[["product_name","pid", "retail_price", "discounted_price"]]

In [19]:
amazon_df.head()

,product_name,pid,retail_price,discounted_price
0,Alisha Solid Women's Cycling Shorts,SRTEH2FF9KEDEFGF,982,438
1,FabHomeDecor Fabric Double Sofa Bed,SBEEH3QGU7MFYJFY,32143,29121
2,AW Bellies,SHOEH4GRSUBJGZXE,991,551
3,Alisha Solid Women's Cycling Shorts,SRTEH2F6HUZMQ6SJ,694,325
4,Sicons All Purpose Arnica Dog Shampoo,PSOEH3ZYDMSYARJ5,208,258

In [20]:
flipkart_df = flipkart[["product_name","pid", "retail_price", "discounted_price"]]

In [21]:
flipkart_df.head()

,product_name,pid,retail_price,discounted_price
0,Alisha Solid Women's Cycling Shorts,SRTEH2FF9KEDEFGF,999.0,379.0
1,FabHomeDecor Fabric Double Sofa Bed,SBEEH3QGU7MFYJFY,32157.0,22646.0
2,AW Bellies,SHOEH4GRSUBJGZXE,999.0,499.0
3,Alisha Solid Women's Cycling Shorts,SRTEH2F6HUZMQ6SJ,699.0,267.0
4,Sicons All Purpose Arnica Dog Shampoo,PSOEH3ZYDMSYARJ5,220.0,210.0

## Merging  Data

In [23]:
final_data = pd.merge(amazon_df,flipkart_df,on='pid')

In [25]:
final_data = final_data.drop(columns=['pid'])

,product_name_x,retail_price_x,discounted_price_x,product_name_y,retail_price_y,discounted_price_y
0,Alisha Solid Women's Cycling Shorts,982,438,Alisha Solid Women's Cycling Shorts,999.0,379.0
1,FabHomeDecor Fabric Double Sofa Bed,32143,29121,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0
2,AW Bellies,991,551,AW Bellies,999.0,499.0
3,Alisha Solid Women's Cycling Shorts,694,325,Alisha Solid Women's Cycling Shorts,699.0,267.0
4,Sicons All Purpose Arnica Dog Shampoo,208,258,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0

In [27]:
final_data.rename(columns={"product_name_x": "product_name_amazon", "retail_price_x": "retail_price_amazon","discounted_price_x":"discounted_price_amazon","product_name_y":"product_name_flipkart","retail_price_y":"retail_price_flipkart","discounted_price_y":"discounted_price_flipkart"},inplace=True)
final_data.head()

,product_name_amazon,retail_price_amazon,discounted_price_amazon,product_name_flipkart,retail_price_flipkart,discounted_price_flipkart
0,Alisha Solid Women's Cycling Shorts,982,438,Alisha Solid Women's Cycling Shorts,999.0,379.0
1,FabHomeDecor Fabric Double Sofa Bed,32143,29121,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0
2,AW Bellies,991,551,AW Bellies,999.0,499.0
3,Alisha Solid Women's Cycling Shorts,694,325,Alisha Solid Women's Cycling Shorts,699.0,267.0
4,Sicons All Purpose Arnica Dog Shampoo,208,258,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0

In [36]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19926 entries, 0 to 20003
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   product_name_amazon        19926 non-null  object
 1   retail_price_amazon        19926 non-null  int64
 2   discounted_price_amazon    19926 non-null  int64
 3   product_name_flipkart      19926 non-null  object
 4   retail_price_flipkart      19926 non-null  float64
 5   discounted_price_flipkart  19926 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.1+ MB

In [35]:
final_data.dropna(inplace=True)
final_data.head()

,product_name_amazon,retail_price_amazon,discounted_price_amazon,product_name_flipkart,retail_price_flipkart,discounted_price_flipkart
0,Alisha Solid Women's Cycling Shorts,982,438,Alisha Solid Women's Cycling Shorts,999.0,379.0
1,FabHomeDecor Fabric Double Sofa Bed,32143,29121,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0
2,AW Bellies,991,551,AW Bellies,999.0,499.0
3,Alisha Solid Women's Cycling Shorts,694,325,Alisha Solid Women's Cycling Shorts,699.0,267.0
4,Sicons All Purpose Arnica Dog Shampoo,208,258,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0

In [37]:
final_data.to_csv(r'final_data.csv', index=False)

#### For accessing Website of following APP go to :- https://shorturl.at/oqFRW

#### In this website you can search the product and it'll get the result

#### This website has only first 100 rows of given due to Demo account (I'm using easy to acces API platform) but the Final_data.csv file is attached in GitHub folder with all the data